/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== Home/Landing page CSS ===== */
.homepage {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 10px;
}

.left-sidebar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 17;
    width: 30px;
    height: 100%;
    background-color: whitesmoke;
}

.right-sidebar {
    display: grid;
    grid-column-start: 6;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 17;
    width: 70px;
    height: 100%;
    background-color: whitesmoke;
}

.profile-info {
    background-color: lightgray;
    padding-top: 30px;
    padding-left: 70px;
}

.profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin-bottom: 25px;
}

.user-info {
    display: grid;
    font-size: 0.6em;
    padding-top: 30px;
    padding-left: 70px;
}

.user-info a {
    font-size: 12px;
    text-decoration-line: none;
}

.logo1 {
    padding-top: 30px;
    padding-left: 30px;
}

.navbar {
    display: flex;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 30px;
    
}

.navbar img {
    width: 85px;
    height: 95px;
}

.navbar input {
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    font-size: 12px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    display: flex;
    font-size: 12px;
    margin-left: 10%;
}

.search-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30%;
}

.books-read {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 10;
}

.read-title {
    display: flex;
    margin-right: 30px;
}

.read-last{
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
}

.book {
    position: relative;
    width: 500px;
    height: 275px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#d41e31,#491f8f);
}

.book img{
    position: relative;
    left: 5%;
    bottom: 0;
    transform: translateY(-20%);
    height: 220px;
    width: 140px;
    transition: 0.5s;
    border-radius: 20px;
}
.book .content{
    display: inline-block;
    position: relative;
    width: 50%;
    left: 10%;
    transition: 0.5s;
}

.content h4{
    display: inline-block;
    font-size: 14px;
}

.content p{
    display: flex;
    font-size: 12px;
}

button {
    margin-top: 15px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    width: 90%;
    height: 35px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #5b13b9;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #265df2;
}

.new-release{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 17;
}

.release-title {
    display: flex;
    margin-right: 30px;
}

.books-new {
    display: flex;
    margin-right: 5px;
    border-radius: 20px;
    justify-content: space-between;
}

.new-book{
    display: inline;
    margin-left: 10px;
}

.new-book img{
    width: 45%;
    height: 55%;
    border-radius: 10px;
}

.new-book .release-content{
    display: grid;
    position: relative;
    width: 55%;
    margin-right: 15px;
    transition: 0.5s;
}

.release-content h5{
    display: inline-block;
    font-size: 12px;
}

.release-content h4{
    display: inline;
    font-size: 11px;
}

.release-content p{
    display: inline;
    font-size: 10px;
    background-color: lightgray;
}

.famous-authors {
    display: grid;
    grid-column-start: 14;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 17;
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

.famous-authors h4{
    margin-top: 20px;
    margin-left: 15px;
}

.book-author {
    display: grid;
    margin-left: 15px;
    margin-bottom: 5px;
}

.famous-authors .author{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.author .author-pic{
    display: inline;
    height: 60px;
    width: 60px;
    clip-path: circle();
}

.author .author-content{
    display: inline;
    align-items: center;
    margin-left: 10px;
}

