/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== Home/Landing page CSS ===== */
.homepage {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(34, 1fr);
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 10px;
}

/* ===== Left section ===== */

.left-sidebar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 17;
    width: 30px;
    height: 100%;
    background-color: whitesmoke;
}

/* ===== Right section ===== */

.right-sidebar {
    display: grid;
    grid-column-start: 6;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 17;
    width: 70px;
    height: 100%;
    background-color: whitesmoke;
}

/* ===== Left section profile info and logo image ===== */

.profile-info {
    background-color: lightgray;
    padding-top: 30px;
    padding-left: 70px;
}

.profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin-bottom: 25px;
}

.user-info {
    display: grid;
    font-size: 0.6em;
    padding-top: 30px;
    padding-left: 70px;
}

.user-info a {
    font-size: 12px;
    text-decoration-line: none;
}

.logo1 {
    padding-top: 30px;
    padding-left: 30px;
}

/* ===== Right section header info ===== */

.navbar {
    display: flex;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 2; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
}

.header .search-form {
    width: 50rem;
    height: 5rem;
    border: teal;
    overflow: hidden;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.header .search-form input {
    font-size: 0.7rem;
    padding: 0 1.2rem;
    height: 40%;
    width: 60%;
    text-transform: none;
    color: black;
}

.header .search-form label {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
    align-self: center;
}

.header .search-form label:hover {
    color: #5b13b9;
}

.header .menu #search-btn {
    display: flex;
    margin-right: 30%;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.header .menu div,
.header .menu a {
    font-size: 0.9rem;
    margin-left: 1.0rem;
    color: #5b13b9;
    cursor: pointer;
    display: flex;
}

.header menu div,
.header menu a {
    color: #5b13b9;
}

/* ===== Right section books read info ===== */

.books-read {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 10;
}

.read-title {
    display: flex;
    margin-right: 30px;
}

.read-last{
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
}

.book {
    position: relative;
    width: 350px;
    height: 275px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#d41e31,#491f8f);
}

.book img{
    position: relative;
    left: 5%;
    bottom: 0;
    transform: translateY(-20%);
    height: 220px;
    width: 140px;
    transition: 0.5s;
    border-radius: 20px;
}
.book .content{
    display: inline-block;
    position: relative;
    width: 50%;
    left: 10%;
    transition: 0.5s;
}

.content h4{
    display: inline-block;
    font-size: 14px;
}

.content p{
    display: flex;
    font-size: 12px;
}

button {
    margin-top: 15px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    width: 90%;
    height: 35px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #5b13b9;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #265df2;
}

/* ===== Right section new release book info ===== */

.new-release{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 17;
}

.release-title {
    display: flex;
    margin-right: 30px;
}

.books-new {
    display: flex;
    margin-right: 5px;
    border-radius: 20px;
    justify-content: space-between;
}

.new-book{
    display: inline;
    margin-left: 10px;
    width: 600;
}

.new-book img{
    width: 65%;
    height: 45%;
    border-radius: 10px;
}

.new-book .release-content{
    display: grid;
    position: relative;
    width: 85%;
    margin-right: 15px;
    transition: 0.5s;
}

.release-content h5{
    display: inline-block;
    font-size: 12px;
}

.release-content h4{
    display: inline;
    font-size: 11px;
}

.release-content p{
    display: inline;
    font-size: 10px;
    background-color: lightgray;
}

.release-content button {
    width: 100%;
}

/* ===== Right section Authors info ===== */
.famous-authors {
    display: grid;
    grid-column-start: 14;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 17;
    background-color: lightgray;
    height: 75%;
    width: 100%;
    margin-top: 20px;
}

.famous-authors h4{
    margin-top: 20px;
    margin-left: 15px;
}

.book-author {
    display: inline;
    margin-left: 15px;
    margin-bottom: 15px;
}

.famous-authors .author{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.author .author-pic{
    display: inline;
    height: 60px;
    width: 60px;
    clip-path: circle();
}

.author .author-content{
    display: inline;
    align-items: center;
    margin-left: 10px;
}

/* ===== Right section Icons ===== */
.icons-container {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 17;
    grid-row-end: 25;
}

.icons-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-container .icons {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 0.9rem 0;
    background: #5b13b9;
}

.icons-container .icons i {
    display: flex;
    font-size: 3.5rem;
    color: #fff;
}

.icons-container .icons h3 {
    display: flex;
    font-size: 2.2rem;
    color: black;
    padding-bottom: .5rem;
}

.icons-container .icons p {
    display: flex;
    font-size: 1.4rem;
    color: darkgrey;
}


